/* your styles will go here!! */
body {
    
}
img {
    max-width: 100%;
}
header {

        }
h1 {
    color: #000;
    font-family: Audiowide;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 416px;
    height: 77px;
    flex-shrink: 0;
}

h2 {
    color: purple
   }

h3 {
    color: #e71d1d;
    }
img {
    width: 70%;
    padding-left: 50px;
}
