/* global */
body {
    background: linear-gradient(270deg, rgba(32, 160, 188, 0.65) 0%, rgba(178, 141, 193, 0.65) 100%);
}
#Logo img {
    width: 40px;
    height: 40px;
    margin-top: -2px;
    margin-bottom: 5px;
    margin-left: 2px;
    font-family:'Lucida Grande' ;
    position: sticky;
}
#upper {
   color:white;
   display: contents;
   position: absolute;
   top: 0px;
   box-align: end;
   
    
}

h1 {
    font-family: 'Audiowide';
    color: #ffffff;
    font-size: 125px;
    text-align: center;
    position: absolute;
    top: -30px;
    left: 10px;
    z-index: -2 ;
    border: 20px solid #EF8D34 ;
    border-style: ;
}

#It {
    color: white;
    font-family: Orbitron;
    font-style: regular;
    font-size: 60px;
    letter-spacing: 1px;
    word-spacing: normal;
    position: relative;
    top: 500px;
    text-align:center;
}
#Where {
    color: white;
    font-family: Orbitron;
    font-style: regular;
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: normal;
    text-align:center;
    position: relative;
    top: 100px;
}
      
#img1 {
    width: 100%;
    align-items: center;
    position: absolute;
    top: 350px;
    z-index:-3;
}
#para1 {
    font-family: 'Lucida Grande';
    line-height: 20px;
    width: 50%;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
    color: orange;
    align-content: space-around;
    position:relative;
    top: 60%;
    z-index: 1;
    background-color: white;

    margin-right: 400px;

   }

#halfcircle {
    position: relative;
    left: 620px;
    top:-19px;
    width: 200px;
    height: 250px;
}
#rectangle {
    position: relative;
    top: 200px;
    left: -200px;
    z-index: 3;
}

#para2 {
    font-family: 'Lucida Grande';
    width: 100%;
    color: white;
    text-align: left;
    position: relative;
    top: 150px;

}


